<footer class="footer">
  <div class="container">
    <a href="https://sr-rs.facebook.com/" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
    <a href="https://plus.google.com" target="_blank"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a>
    <a href="https://twitter.com" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
    <a href="https://www.skype.com" target="_blank"><i class="fa fa-skype fa-2x" aria-hidden="true"></i></a>
    <a href="https://www.booking.com" target="_blank"><i class="fa fa-book fa-2x" aria-hidden="true"></i></a>
    <p class="pull-right"><a href="#"><i class="fa fa-arrow-up fa-2x" aria-hidden="true"></i></a></p>
    <!-- <p class="mycompany pull-left">&copy; 2017 Company - Aleksic, Inc. &middot; </p> -->
  </div>
</footer>
