<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Banja Vrdnik</title>

    <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/menu.css">
        <link rel="stylesheet" href="stylesheets/banjaVrdnik.css">
        <script src="https://use.fontawesome.com/b8ef3f0ce9.js"></script>
  </head>
  <body>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

<% include ../partials/menu %>

     <div class="section1">
        <h1>Banja Vrdnik</h1>
     </div>

     <hr class="featurette-divider">
    <div class="container">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Banja Vrdnik kao vazdušna banja leči prirodom. <span class="text-muted">Odusevice Vas.</span></h2>
            <p class="lead"> Dobro pozicionirana, u blizini glavnih puteva, a okružena šumskim lepotama, <strong>Banja Vrdnik</strong> je pravi izbor za sve posetioce. Banja Vrdnik je korisna za ljude koji boluju od različitih bolesti, te traže spas u lekovitim svojstvima ove predivne banje. Pored lekovite vode koju ima, Banja Vrdnik je smeštena na <strong>Fruškoj Gori</strong>, prvim proglašenim <em>nacionalnim parkom</em> u zemlji Srbiji, te  ćete udisati zdrav, čist vazduh koji nudi ova banja. Ljudi sa različitih krajeva  posećuju Banju Vrdnik, zbog terapija koje sprovodi stručno osoblje, te im pomažu u ozdravljenju.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="https://res.cloudinary.com/nikolaalex/image/upload/v1498713065/vrdnik-nature2_mgnewa.jpg" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Banja Vrdnik, <span class="text-muted">Mesto i Zanimacije</span></h2>
            <p class="lead"><strong>Banja Vrdnik</strong>  je pozicionirana nadomak mnogih izletišta Fruške Gore, sa kojih se pruža predivan pogled na Vrdnik ili šumska prostranstva koja ga okružuju. Kao turističko mesto, Banja Vrdnik nudi mnogo zanimacija kako za odrasle tako i za mlađe osobe. Mnogo je parkova sa ljuljaskama, toboganima, gde će mališani uživati u igri, a takođe Banja Vrdnik poseduje dosta igrališta, kafica, restorana za one koji žele da treniraju ili se opuste uz popodnevnu kafu. Takođe, za ljubitelje sporta, u Banji Vrdnik postoji više sportskih terena. Banja Vrdnik je mesto od velikog značaja za svakog, jer nudi nova iskustva i svojim prirodnim svojstvima leči mnoge.</p>
          </div>
          <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image-middle img-responsive center-block" src="https://res.cloudinary.com/nikolaalex/image/upload/v1498713052/vrdnicka-kula2_baegcc.jpg" alt="Generic placeholder image">
          </div>
        </div>

            <hr class="featurette-divider">

            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">Banja Vrdnik,  <span class="text-muted">Kulturno Istorijski Spomenici</span></h2>
                <p class="lead"> Gosti koji posete <em>Vrdnik</em>  biće u mogućnosti da obidju nekoliko kulturno istorijskih spomenika u samoj banji i još dosta njih koji se nalaze nedaleko od banje, svuda po Fruškoj Gori. Dva najbitnija istorijska objekta u Vrdnik Banji su <em>manastir Ravanica</em>  u kojem se nalazi kovčeg sa stvarima koje su pripadale svetom caru Lazaru. Jedno vreme u ovom manastiru su lezale u mošti cara Lazara. Drugi, mnogo stariju spomenik u Vrdnik Banji je <em>Vrdnička kula</em>  koju su sagradili Rimljani. <strong>Vrdnička kula</strong> se nalazi na pola puta izmedju Vrdnika u izletišta Zmajevac. Gosti koji odsednu u Vrdniku obavezno treba da posete <em>manastir Jazak</em> u kojem leže mošti svetog cara Uroša Dušana Nejakog. <strong>Banja Vrdnik</strong> je nekada posedovala svoju sopstvenu termo elektranu na ugalj, prugu koja je mesto povezivala sa Rumom, a preko nje i drugim većim gradovima u Srbiji. Na žalost turisti danas ne mogu da vide čak ni ostatke od ovih gradjevina jer meštani Vrdnika nisu znali da ih sačuvaju kao svoju istoriju.</p>
              </div>
              <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" src="https://res.cloudinary.com/nikolaalex/image/upload/v1498713032/manastir-jazak_lxv7kw.jpg" alt="Generic placeholder image">
              </div>
            </div>
      </div>  <!--   div container  -->
      
      <% include ../partials/footer %>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
      // ======== scroll reveal ============
      $(document).ready(function(){

        var intro0 = {
          origin   : "left",
          distance : "50px",
          duration : 500,
          easeing   : 'cubic-bezier(0.6, 0.2, 0.1, 1)',
          viewFactor: 0.3,
          reset    : true,
          mobile   : true,
          delay    : 500,
          scale    : 1
        };

        var intro1 = {
          origin   : "right",
          distance : "50px",
          duration : 500,
          easeing   : 'cubic-bezier(0.6, 0.2, 0.1, 1)',
          viewFactor: 0.2,
          reset    : true,
          mobile   : true,
          delay    : 500,
          scale    : 1
        };

        var intro2 = {
          origin   : "top",
          distance : "100px",
          duration : 500,
          easeing   : 'cubic-bezier(1, 0.2, 0.5, 2)',
          viewFactor: 0.2,
          reset    : false,
          mobile   : true,
          delay    : 500,
          scale    : 2

        };

        window.sr = ScrollReveal();
        $(".sRevealHidden").addClass('sRevealShow');
            if (sr.isSupported()) {
              document.documentElement.classList.add('sr');
            } else {
                console.log("scroll reveal not supported");
                $(".sRevealHidden").css("visibility","visibile");
                return;
            }



        sr.reveal( '.featurette-heading ', intro0 );
        sr.reveal(".text-muted", intro0);
        sr.reveal(".lead ", intro1);
        sr.reveal(".section1", intro2);
        sr.reveal(".featurette-image", intro1);
        sr.reveal(".featurette-image-middle", intro0);

      });

    </script>

  </body>
</html>
