<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Apartmani Bulovic na Fruskoj Gori Vrdnik">
    <meta name="author" content="Nikola Aleksic">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>Apartman Premija - Vrdnik</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/menu.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/b8ef3f0ce9.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script type="text/javascript" src="http://gc.kis.scr.kaspersky-labs.com/D92C1B33-9693-7941-B9F8-882DD7AE1EE5/main.js" charset="UTF-8"></script><script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    <!-- Custom styles for this template -->
    <link href="/stylesheets/carousel.css" rel="stylesheet">

  </head>
  <body>

  <% include ../partials/menu %>
    <!-- Carousel================================================== -->

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="https://res.cloudinary.com/nikolaalex/image/upload/v1498713054/picture7_fskvvh.jpg" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="https://res.cloudinary.com/nikolaalex/image/upload/v1498713039/picture5_ydo3lh.jpg" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="https://res.cloudinary.com/nikolaalex/image/upload/v1498713059/picture6_neh1uy.jpg" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container">
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="https://res.cloudinary.com/nikolaalex/image/upload/v1498713031/guarantee_xzbqv6.jpg" alt="Customer-service" width="140" height="140">
          <h2>Kvalitet Zagarantovan</h2>
          <p><strong>Apartman Premija</strong> je opremljen sa kvalitetnim namestajem. Spavaca soba ima francuski lezaj, kako bi se gosti sto bolje odmorili!</p>
          <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="https://res.cloudinary.com/nikolaalex/image/upload/v1498713053/price-tag_ccptgs.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Pristupačne Cene</h2>
          <p>Uvek gledamo da izadjemo u susret nasim gostima, tako da su cene smestaja veoma povoljne!</p>
          <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="https://res.cloudinary.com/nikolaalex/image/upload/v1498713037/customer-service_owngmw.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Podrška 24h</h2>
          <p>Tu smo 24h da vas posavetujemo, damo informacije o kulturnim dogadjajima, kao i zanimljivim mestima koje svako treba da poseti ko dodje u banju vrdnik.</p>
          <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><em>Pogled na Planinu<span class="text-muted"> - Oduševiće Vas!</span></em></h2>
          <p class="lead"><strong><em>Apartman Premija</em></strong> <em>nalazi se u Vrdniku, na 15 km od Novog Sada. Iz objekta se pruža pogled na planine. Sremski Karlovci su udaljeni 14 km. </em> </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="https://res.cloudinary.com/nikolaalex/image/upload/v1498713054/vrdnik.nature_knzino.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading"><em>Ima sve sto Vam je potrebno! <span class="text-muted"> Samo Dodjite!</span></em></h2>
          <p class="lead"><em>Smeštajna jedinica poseduje prostor za sedenje, trpezariju i kuhinju sa frižiderom i pločom za kuvanje. Peškiri i posteljina su obezbeđeni. Sopstveno kupatilo opremljeno je kadom.</em></p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="https://res.cloudinary.com/nikolaalex/image/upload/v1498713035/picture1_supx65.jpg"  alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><em><strong>Banja Vrdnik</strong> <span class="text-muted"> - Termal raspolaže sa 6 bazena</em></span></h2>
          <p class="lead"> <em>Čuven po najvećem zatvorenom bazenu u Srbiji, Termal Vam nudi i olimpijski bazen na otvorenom, kao i dečje bazene na otvorenom i u zatvorenom prostoru. Sa termalnom vodom konstantne temperature od 32,8°C svi bazeni nude Vam vrhunsko uživanje, a u specijalizovanom terapeutskom bazenu i oporavak prema vašim potrebama.</em></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="https://res.cloudinary.com/nikolaalex/image/upload/v1498713029/bazeni_mz1sjt.jpg" width="150px" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
    </div><!-- /.container -->

    <div class="transition"> <h2>Apartman Premija - <span class="text-muted">Usluge</span></h2></div>

    <div class="container information">
        <div class="col-lg-4" col-sm-6>
          <div class="thumbnail">
            <img src="https://res.cloudinary.com/nikolaalex/image/upload/v1498713062/wifi_y5kmkt.jpg" width="100px" />
            <h2>
              Gostima je na raspolaganju besplatan wifi!
            </h2>
          </div>
        </div>
        <div class="col-lg-4" col-sm-6>
          <div class="thumbnail">
            <img src="https://res.cloudinary.com/nikolaalex/image/upload/v1498713033/family_nj463l.jpg" width="100px" />
            <h2>
              Kucni ljubimci su dozvoljeni!
            </h2>
          </div>
        </div>
        <div class="col-lg-4" col-sm-6>
          <div class="thumbnail">
            <img src="https://res.cloudinary.com/nikolaalex/image/upload/v1498713034/parking_ojovbn.jpg" width="100px" />
            <h2>
              Besplatan Parking!
            </h2>
          </div>
        </div>
    </div>

  <div class="transition"><h2>Apratman Premija - <span class="text-muted">Galerija</span></h2></div>

  <div class="container gallery">
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img  src="https://res.cloudinary.com/nikolaalex/image/upload/v1498713035/picture1_supx65.jpg"/>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img  src="https://res.cloudinary.com/nikolaalex/image/upload/v1498713041/picture2_t5ttd8.jpg"/>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img  src="https://res.cloudinary.com/nikolaalex/image/upload/v1498713052/picture3_nmwrhh.jpg"/>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img  src="https://res.cloudinary.com/nikolaalex/image/upload/v1498713038/picture4_gdioee.jpg"/>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img  src="https://res.cloudinary.com/nikolaalex/image/upload/v1498713059/picture6_neh1uy.jpg"/>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img  src="https://res.cloudinary.com/nikolaalex/image/upload/v1498713045/picture8_mvoacu.jpg"/>
      </div>
    </div>
  </div>
  </div>

    <!-- FOOTER -->
  <% include ../partials/footer %>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
    
    
          $(window).scroll(function () {
      	var sc = $(window).scrollTop()
      	if (sc > 1) {
      		$("#main-navbar").addClass("navbar-scroll")
      	}
      	else {
      		$("#main-navbar").removeClass("navbar-scroll")
      	}
      });


    </script>
  </body>
</html>
